# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# C++ Header Dependency files
*.dep

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#VS2015 Garbage
*.sdf
*.vcxproj.filters

# Executables
*.exe
*.out
*.app
nn
